/* Limpar formatações */

* {
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #e6e6e6;
}

/*
**** Layout ****
*/

#area-cabecalho{
    background: #5da9ef;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu{
    padding: 10px;
}

/*
***** Formatação area principal *****
*/

#area-principal{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area-conteudo{
    width: 660px;
    float: left;
}

#area-lateral{
    width: 240px;
    margin: 0 auto;
    float: right;
}

.post{
    padding: 20px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 5px;
}

.conteudo-lateral{
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.post-lateral{
    font-size: 0.8;
    padding: 5px;
    margin: 5px 0px;

}

.avatar{
    margin: 10px 0px;
    border: 1px solid #5da9ef;
    border-radius: 150px;
}

.avatar:hover {
    background: #5da9ef;
}



#rodape{
    clear: both;
    padding: 15px;
    background: #5da9ef;
    text-align: center;
    color: #fff;
}


/*
**** Formatação menu
*/

a {
    text-decoration: none;
}

a:link, a:visited{
    color: #5da9ef;
}

a:hover{
    text-decoration: underline;
}

 #area-cabecalho a:link, #area-cabecalho a:visited{
    color: #e6e6e6;
    padding: 8px 12px;
}





/*
**** Formatação Geral
*/

h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

h2 {
    color: #5da9ef;
}

h3{
    color: #fff;
    background: #5da9ef ;
    padding: 5px;
    border-radius: 5px;
}

h3:hover {
    color: black;
}

.branco{
    color: #fff;
}

.data{
    font-size: 0.8em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

hr{
    margin: 10px 0px;
}





